<h1>Investment Risk Tolerance Questionnaire</h1>
<div class = "container">
<form action="/action_page.php" #contactForm = "ngForm">
  <div class="form-group">
    

    <label><b>Name</b></label>
    <input class = "form-control" type="text" placeholder="Enter Full Name" name="name" required 
    [(ngModel)] = "contact.name">
    <br>

    <label for = "email"><b>Email</b></label>
    <input class = "form-control" type="text" placeholder="Enter Email" id = "email" name="email" required>
    <br>

    <label><b>Address</b></label>
    <input  class = "form-control" type="text" placeholder="Enter Address" name="address" required>
    <br>

    <label><b>Birthdate</b></label>
    <input  class = "form-control" type="date" placeholder="Enter Birthdate" name="birthDate" required 
    [(ngModel)] = "contact.birthdate" >
    <br>

    <div class="clearfix" *ngIf= "contactForm.valid">
      <button type="submit" class="signupbtn" (click) = "saveContact()">Ask Me More</button>
    </div>
  </div>
</form>
</div>