.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; 
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body{
    margin: 2em;
}
body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}
a {
    cursor: pointer;
    cursor: hand;
}
button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    text-align: center;
    left: 750px;
    position: absolute;
}
button:hover {
    background-color: #cfd8dc;
}
button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}



nav a{
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px; 
}
nav a:visited, a:link {
    color: #607D8B;
}

nav a:hover {
    color: #039be5; 
    background-color: #CFD8DC;
}

nav a.active {
    color: #039be5;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}