<h1>Investment Risk Tolerance Questionnaire</h1>
<a routerLink = "/risk" routerLinkActive = "active"></a>
<div class = "container">
<form action="/action_page.php" #riskForm = "ngForm">
  <div class="form-group">
    
    <label><b>If you see a banana on sale for $50.99 from $99.99, would you buy it?</b></label>
    <input class = "form-control" type="text" placeholder="" name="logic" required 
    >
    <br>

    <label for = "commitment"><b>You're at the slot machine and you're down $500 but it's been shown that statistically the 
      next pull will lead to a jackpot, would you do it?</b></label>
    <input class = "form-control" type="text" placeholder="How committed are you?" id = "commitment"  required>
    <br>

    <div class="clearfix" *ngIf= "riskForm.valid">
      <button type="submit" class="signupbtn">Break it to me</button>
    </div>
  </div>
</form>
</div>

